<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>Blog Posts</h1>
</div>


            <% @blog_posts.each do |blog_post| %>



              <div class="col-lg-6">
                <div class="well">
                  <div>
                    <h3><%= link_to blog_post.title, blog_post %></h3> </br>
                    <h5>By: <%= blog_post.author %></h5>
                    <p class="date"> <%=blog_post.created_at.strftime("%B, %d, %Y") %></p>
                  </div>
                  <div>
                    <p><%= blog_post.blog_entry.truncate(100) %>[<%= link_to "Read More", blog_post %>]</p>
                    <p>
                      <%= link_to 'Show', blog_post, class: "btn btn-primary" %>
                      <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-info" %>
                      <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                    </p>
                  </div>
                </div>
              </div>


            <% end %>



<%= link_to 'New Blog Post', new_blog_post_path, class: "btn btn-warning" %>
