<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>Blog Posts</h1>
</div>


            <% @blog_posts.each do |blog_post| %>
              <div class="col-lg-6">
                <div class="well">
                  <div class="panel-heading">
                    <h3><%= link_to blog_post.title, blog_post %></h3> </br>
                    <h5>By: <%= link_to blog_post.user.username, user_posts_path(id: blog_post.user.id) %></h5>
                    <p class="date"> <%=blog_post.created_at.strftime("%B, %d, %Y") %></p>
                  </div>
                  <div class="panel-body">
                    <p><%= blog_post.blog_entry.truncate(100) %>[<%= link_to "Read More", blog_post %>]</p>
                    <div class="panel-footer">
                      <% if user_signed_in? %>
                      <% if current_user.id == blog_post.user.id %>
                        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-info" %>
                        <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                      <%end%>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
